#legal-mentions-link {
    color: white;
}

#legal-mentions-modal {

    .modal-header {
        color: black;
    }

    .modal-body {
        color: black;
        text-align: justify;
        font-size: 1rem;

        a {
            color: black;
            font-weight: bold;
        }
    }

}
