@import "../../../styles/variables";

body {
    font-family: $admin-sidebar-header-font;
    background: $admin-body-background;
}

p {
    font-family: $admin-p-font;
    color: $admin-p-color;
    font-size: $admin-p-size;
    font-weight: $admin-p-weight;
    line-height: $admin-p-line-height;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


/* ---------------------------------------------------
    content-wrapper STYLE
----------------------------------------------------- */
#content-wrapper {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;

    #content {
        padding: 20px;
    }
}
