<form class="form-horizontal" [formGroup]="form">
    <fieldset>
        <div class="card">
            <div class="card-header">
                <legend>Ajouter un commentaire</legend>
            </div>
            <div class="card-body">
                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>Nom:</mat-label>
                    <input matInput type="text"
                           placeholder="Ex: Jean Dupond"
                           formControlName="CreatorName" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>E-mail:</mat-label>
                    <input matInput type="email"
                           placeholder="Ex: Jean.Dupond@gmail.com"
                           formControlName="CreatorEmail" required>
                </mat-form-field>

                <quill-editor type="Comment" formControlName="Comment" required></quill-editor>


                <button class="btn btn-info pull-right mat-raised-button" mat-raised-button=""
                        type="submit">
                    <span class="mat-button-wrapper">Valider</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>


