<app-admin-layout>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Ajouter un article</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="articleForm" (submit)="save()">
                            <div class="row">
                                <div class="input-group">
                                    <mat-form-field appearance="outline" class="col-md-12">
                                        <mat-label>Intitulé de du nouvel article...</mat-label>
                                        <input matInput type="text"
                                            placeholder="Intitulé de du nouvel article..."
                                            formControlName="Title" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <quill-editor formControlName="Content" placeholder="Contenu du nouvel article..." [style]="{height: '200px'}" class="col-md-12">
                                    </quill-editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <mat-checkbox formControlName="IsPublished" class="col-md-12" (change)="isPublished = !isPublished">
                                        Article publié ?
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="row" *ngIf="isPublished">
                                <div class="input-group">
                                    <mat-form-field appearance="outline" class="col-md-12">
                                        <mat-label>Date de publication</mat-label>
                                        <input matInput
                                            type="date"
                                            placeholder="Date de la publication"
                                            formControlName="PublishedDate">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-info pull-right mat-raised-button" mat-raised-button=""
                                    type="submit">
                                <span class="mat-button-wrapper">Sauvegarder</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-admin-layout>
