section {
    background-color: #7e9b9f;
    padding-top: 50px;
    padding-bottom: 50px;

    h3 {
        color: white;
        font-family: 'Montserrat', serif;
        font-size: 2.5em;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.15rem;
        margin-bottom: 30px;
    }

    p {
        color: white;
        text-align: center;
        font-size: 1.2rem;
    }

    .download-link {
        text-align: center;
    }
}
