$admin-sidebar-bg: #000;
$admin-sidebar-color: #fff;
$admin-sidebar-width: 220px;
$admin-sidebar-header-bg: #111;
$admin-sidebar-header-font: 'Open Sans', sans-serif;
$admin-sidebar-border-color: #fff;
$admin-sidebar-p-color: #fff;

$admin-sidebar-item-selected-bg: #222;
$admin-sidebar-item-hover-bg: #333;
$admin-sidebar-item-hover-color: #ddd;
$admin-sidebar-subitem-bg: #444;
$admin-sidebar-subitem-color: #eee;
$admin-sidebar-subitem-hover-bg: #555;

$admin-body-background: black;

$admin-p-font: 'Open Sans', sans-serif;
$admin-p-color: black;
$admin-p-weight: 300;
$admin-p-size: 1.2rem;
$admin-p-line-height: 1.4rem;
