<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">Compétences</h4>
            <p class="card-category">Liste des compétences</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Maitrise (%)</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let group of skillsGroups">
                        <tr>
                            <th colspan="3">
                                <i [class]="'fa ' + group.Icon"></i> {{group.Name}}
                            </th>
                            <th>
                                <a href="#" (click)="deleteGroup(group);">
                                    DELETE
                                </a>
                            </th>
                        </tr>
                        <ng-container *ngFor="let skill of group.Skills">
                            <tr *ngIf="!skill.edit">
                                <td>{{skill.SkillId}}</td>
                                <td>{{skill.Name}}</td>
                                <td>{{skill.Level}}</td>
                                <td>
                                    <a href="#" (click)="openEditMode(skill);">
                                        EDIT
                                    </a>
                                    <a href="#" (click)="deleteSkill(skill);">
                                        DELETE
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="skill.edit">
                                <td>
                                    {{form.SkillId}}
                                </td>
                                <td>
                                    <input type="text" title="Nom de la compétence" [ngModel]="form.Name"/>
                                </td>
                                <td>
                                    <input type="number" min="0" max="0" step="1"
                                           title="Niveau de maîtrise de la compétence" [ngModel]="form.Level"/>
                                </td>
                                <td>
                                    <a href="#" (click)="saveSkill(skill)">
                                        Save
                                    </a>
                                    <a href="#" (click)="cancelEditMode(skill)">
                                        Cancel
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>

                    </tbody>
                </table>
            </div>

            <a routerLink="/admin/skills/create" class="btn btn-danger pull-right mat-raised-button">
                <span class="material-icon">add</span>
            </a>

        </div>
    </div>
</div>
