#topbar {
    border-bottom: 1px solid #282828;
    background-color: #282828 !important;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: #F05F40;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .navbar-brand:focus, .navbar-brand:hover {
        color: #f05f40;
    }

    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
    }

    .navbar-nav > li.nav-item > a.nav-link:hover,
    .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: white;
    }

    .navbar-nav > li.nav-item > a.nav-link.active,
    .navbar-nav > li.nav-item > a.nav-link:focus.active {
        color: white !important;
        background-color: transparent;
    }

    .navbar-nav > li.nav-item > a.nav-link.active:hover,
    .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent;
    }
}

@media (min-width: 992px) {
    #topbar {
        border-color: transparent !important;
        background-color: transparent !important;
        box-shadow: none;

        .navbar-brand {
            color: rgba(255, 255, 255, 0.7);
        }

        .navbar-brand:focus, .navbar-brand:hover {
            color: #fff;
        }

        .navbar-nav > li.nav-item > a.nav-link {
            padding: 0.5rem 1rem;
        }

        .navbar-nav > li.nav-item > a.nav-link,
        .navbar-nav > li.nav-item > a.nav-link:focus {
            color: rgba(255, 255, 255, 0.7);
        }

        .navbar-nav > li.nav-item > a.nav-link:hover,
        .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #fff;
        }

    }
}

#topbar.scrolled {
    background-color: #252525 !important;
    transition: background-color 400ms linear;
}
