<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="topbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#cover" ngx-scroll-to="cover" [ngx-scroll-to-duration]="100">
            <img alt="Vincent PECQUERIE" title="Logo du site de Vincent PECQUERIE" src="/assets/images/icon-blanc-32x32.png"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" title="A Propos" href="#about"
                        [ngx-scroll-to]="'about'"
                        [ngx-scroll-to-duration]="100"
                        [ngx-scroll-to-offset]="-58">
                        A Propos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Compétences" href="#skills"
                        [ngx-scroll-to]="'skills'"
                        [ngx-scroll-to-duration]="100"
                        [ngx-scroll-to-offset]="-58">
                        Compétences
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Experience" href="#experiences"
                        [ngx-scroll-to]="'experiences'"
                        [ngx-scroll-to-duration]="100"
                        [ngx-scroll-to-offset]="-58">
                        Experience
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Formation" href="#training"
                        [ngx-scroll-to]="'training'"
                        [ngx-scroll-to-duration]="100"
                        [ngx-scroll-to-offset]="-58">
                        Formation
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Contact" href="#contact"
                        [ngx-scroll-to]="'footer'"
                        [ngx-scroll-to-duration]="100"
                        [ngx-scroll-to-offset]="-58">
                        Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToAdmin()" id="admin-login-link" title="Se Connecter">
                        <em class="material-icons">power_settings_new</em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
