<app-admin-layout>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Ajouter une Formation</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="trainingForm" (submit)="save()">

                            <div class="row">
                                <div class="input-group">
                                    <mat-form-field appearance="outline" class="col-md-12">
                                        <mat-label>Intitulé de la nouvelle formation...</mat-label>
                                        <input matInput type="text" placeholder="Intitulé de la nouvelle formation..."
                                            formControlName="Title">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-group">
                                    <mat-form-field appearance="outline" class="col-md-6">
                                        <mat-label>Date de début de la nouvelle formation...</mat-label>
                                        <input matInput type="date"
                                            placeholder="Date de début de la nouvelle formation..."
                                            formControlName="Begin">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="col-md-6">
                                        <mat-label>Date de fin de la nouvelle formation...</mat-label>
                                        <input matInput type="date"
                                            placeholder="Date de fin de la nouvelle formation..."
                                            formControlName="End">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <mat-form-field appearance="outline" class="col-md-12">
                                        <mat-label>Description de la nouvelle formation...</mat-label>
                                        <textarea matInput class="form-control input-sm input-inverse"
                                            formControlName="Description"
                                            placeholder="Description de la nouvelle formation..." rows="5">
                                    </textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button class="btn btn-info pull-right mat-raised-button" mat-raised-button="" type="submit">
                                <span class="mat-button-wrapper">Sauvegarder</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-admin-layout>
