<div id="login">
    <div class="row">
        <div class="box">
            <div class="card card-login">
                <form [formGroup]="loginForm" action="#" (ngSubmit)="login()">
                    <div class="card-header card-header-primary text-center">
                        <h4 class="card-title">Connexion</h4>
                    </div>

                    <div class="card-body">
                        <div class="input-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Nom d'utilisateur...</mat-label>
                                <input matInput formControlName="username" placeholder="Nom d'utilisateur...">
                                <mat-icon matPrefix>face</mat-icon>
                                <mat-hint>
                                    <div *ngIf="loginForm.controls.username.dirty && loginForm.controls.username.errors?.email">
                                        Le nom d'utilisateur n'est pas une adresse e-mail valide.
                                    </div>
                                    <div *ngIf="loginForm.controls.username.dirty && loginForm.controls.username.errors?.required">
                                        Le nom d'utilisateur est requis.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="input-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Mot de passe...</mat-label>
                                <input matInput type="password" formControlName="password" placeholder="Mot de passe...">
                                <mat-icon matPrefix>lock_outline</mat-icon>
                                <mat-hint>
                                    <div *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors?.required">
                                        Le mot de passe est requis.
                                    </div>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="input-group">
                            <mat-checkbox [formControlName]="'rememberMe'">
                                Se souvenir de moi.
                            </mat-checkbox>
                        </div>

                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-wd btn-lg" type="submit" [disabled]="loginForm.invalid">
                            Se Connecter !
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
