@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

@keyframes floating-arrow {
    from {
        transform: translateY(-4px);
    }
    65% {
        transform: translateY(4px);
    }
    to {
        transform: translateY(-4px);
    }
}

@keyframes floating-arrow-up {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(4px);
    }
    75% {
        transform: translateY(-4px);
    }
}

body,
html {
   width: 100%;
   height: 100%;
}

html {
    scroll-behavior: smooth;
}
 
.text-primary {
   color: #F05F40 !important;
}
 
.btn {
   font-weight: 700;
   text-transform: uppercase;
   border: none;
   border-radius: 300px;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
 
.btn-xl {
   padding: 1rem 2rem;
}
 
.btn-primary {
   background-color: #F05F40;
   border-color: #F05F40;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
   color: #fff;
   background-color: #ee4b28 !important;
}
 
.btn-primary:active, .btn-primary:focus {
   -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
   box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.loader-container {
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #fff;
    }
}
