@import "../../../../../styles/variables";

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $admin-sidebar-subitem-bg;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


#sidebar {
    min-width: $admin-sidebar-width;
    max-width: $admin-sidebar-width;
    background: $admin-sidebar-bg;
    color: $admin-sidebar-color;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    height: 100%;
}

#sidebar.active {
    margin-left: -$admin-sidebar-width;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: $admin-sidebar-header-bg;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $admin-sidebar-border-color;
}

#sidebar ul p {
    color: $admin-sidebar-p-color;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: $admin-sidebar-subitem-color;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: $admin-sidebar-item-hover-color;
    background: $admin-sidebar-item-hover-bg;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: $admin-sidebar-item-selected-bg;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
}
