<app-admin-layout>
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title mt-0">Blog</h4>
                <p class="card-category">Liste des Articles</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Titre</th>
                            <th>Nombre de commentaires</th>
                            <th>Publié</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let article of articles">
                            <tr>
                                <td>{{article.ArticleId}}</td>
                                <td>{{article.Title}}</td>
                                <td>
                                    <ng-container *ngIf="article.Comments">
                                        {{article.Comments?.length}}
                                    </ng-container>
                                    <ng-container *ngIf="!article.Comments">
                                        0
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="article.IsPublished">
                                        Depuis le {{ article.PublishedDate | momentjs:'DD/MM/YYYY'}}
                                    </ng-container>
                                    <ng-container *ngIf="!article.IsPublished">
                                        Non
                                    </ng-container>

                                </td>
                                <td>
                                    <a href="#" [href]="'/admin/blog/articles/edit/' + article.ArticleId">
                                        <em class="material-icons">edit</em>
                                    </a>
                                    <a href="#" (click)="delete(article);">
                                        <em class="material-icons">remove_circle_outline</em>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>

                        </tbody>
                    </table>
                </div>

                <a routerLink="/admin/blog/articles/create" class="btn btn-danger pull-right mat-raised-button">
                    <span class="material-icons">add</span>
                </a>
            </div>
        </div>
    </div>
</app-admin-layout>
