header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('/assets/images/splash-home.jpg');
    background-position: center center;
    background-size: cover;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}

.home-arrow {
    a {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        height: 46px;
        outline-style: none !important;
        position: relative;
        text-decoration: none;
        width: 46px;
        transition: all 0.3s ease-in-out;
        z-index: 2;
    }
    i {
        animation: floating-arrow 1.6s infinite ease-in-out 0s;
        display: block;
        padding: 12px 0;
        height: 34px;
    }
}



.loader-container {
    .mat-progress-spinner {
        margin: auto;
    }
}