<section id="contact">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-6" id="physical-contact">
  
        <h3>Coordonnées</h3>
        <br />
        <div class="row contact-infos">
          <div class="col-sm-2 picto">
            <em class="fa fa-mobile fa-2x"></em>
          </div>
          <div class="col-sm-10 content">
            <a href="tel:+33658408580"> 06 58 40 85 80 </a>
          </div>
        </div>

        <div class="row contact-infos">
          <div class="col-sm-2 picto">
            <em class="fa fa-map-marker fa-2x"></em>
          </div>
          <div class="col-sm-10 content">

            63 rue de Lessard<br />
            Le Clos Léanor<br />
            Appartement 202<br />
            76100 Rouen
          </div>
        </div>

        <div class="row contact-infos">
          <div class="col-sm-2 picto">
            <em class="fa fa-envelope-o fa-2x"></em>
          </div>
          <div class="col-sm-10 content">
            <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#118;&#105;&#110;&#099;&#101;&#110;&#116;&#045;&#112;&#046;&#102;&#114;">
              &#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#118;&#105;&#110;&#099;&#101;&#110;&#116;&#045;&#112;&#046;&#102;&#114;
            </a>
          </div>
        </div>

      </div>
  
      <div class="col-sm-12 col-md-6" data-form-type="formoid">
        <h3>Contact</h3>

        <div data-form-alert="true" *ngIf="success">
          <h4 data-form-alert-success="true" >Votre message a bien été envoyé!</h4>
        </div>

        <div data-form-alert="true" *ngIf="error">
          <h4 data-form-alert-success="true" >Votre message n'a pas été envoyé en raison d'une erreur technique.</h4>
        </div>

        <form *ngIf="showForm()" action="" data-form-title="MESSAGE" method="post" name="contact" novalidate="" class="ng-untouched ng-pristine ng-valid" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label class="form-control-label" for="name">
              Nom <span class="form-asterisk">*</span>
            </label>
            <input  class="form-control input-sm input-inverse" 
                    [(ngModel)]="model.Name" 
                    data-form-field="name" 
                    id="name" 
                    name="name" 
                    required="required" 
                    type="text" 
                    autocomplete="name" 
                    placeholder="Ex: Vincent PECQUERIE" />
          </div>

          <div class="form-group">
              <label class="form-control-label" for="email">
                E-mail <span class="form-asterisk">*</span>
              </label>
              <input  class="form-control input-sm input-inverse" 
                      [(ngModel)]="model.Mail" 
                      data-form-field="email" 
                      id="email" 
                      name="email" 
                      required="required" 
                      type="email" 
                      autocomplete="email" 
                      placeholder="Ex: &#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#118;&#105;&#110;&#099;&#101;&#110;&#116;&#045;&#112;&#046;&#102;&#114;" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="phone">
              Téléphone
            </label>
            <input  class="form-control input-sm input-inverse" 
                    [(ngModel)]="model.Phone" 
                    data-form-field="Phone" 
                    id="phone" 
                    name="phone" 
                    required="required" 
                    type="tel" 
                    autocomplete="tel-national" 
                    placeholder="Ex: 06 58 40 85 80" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="message">
              Message
            </label>
            <textarea   class="form-control input-sm input-inverse" 
                        [(ngModel)]="model.Message" 
                        data-form-field="Message" 
                        id="message" 
                        name="message" 
                        required="required" 
                        rows="5">
            </textarea>
          </div>

          <div>
            <button class="btn btn-lg btn-info" type="submit">
              <span class="btn-text">Envoyer</span>
              <em class="btn-loader"></em>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
